*.txt
*.dvi
*.log
*.pdf
!2023/20-pulse-propagation/20-part-II.pdf
!2015/07-some-assembly-required/circuit*.pdf
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.fods
2024/06-guard-gallivant/06
2021/02-dive/partII.png
2015/08-matchsticks/i